doctype html
html(lang='en', ng-app='app')
	head
		title(ng-bind='ngMeta.title')
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='author', content='{{ngMeta.author}}')
		meta(name='description', content='{{ngMeta.description}}')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1')
		link(rel='stylesheet', href='/css/index.css')
		base(href='/index.html')

	body(data-ng-class='{"locked":display}')
		div(ui-view='navigation')
		.page(ui-view='document')
		div(ui-view='footer')
		div(id='panel', ng-show='display')

		//- script(src='/scripts/app.min.js')
		script(src='/scripts/vendor/jquery/dist/jquery.min.js')
		script(src='/scripts/vendor/angular/angular.min.js')
		script(src='/scripts/vendor/angular-animate/angular-animate.min.js')
		script(src='/scripts/vendor/angular-cookies/angular-cookies.min.js')
		script(src='/scripts/vendor/angular-aria/angular-aria.js')
		script(src='/scripts/vendor/angular-resource/angular-resource.min.js')
		script(src='/scripts/vendor/angular-sanitize/angular-sanitize.min.js')
		script(src='/scripts/vendor/angular-loading-bar/build/loading-bar.js')
		script(src='/scripts/vendor/angular-google-maps/dist/angular-google-maps.min.js')
		script(src='/scripts/vendor/angular-ui-router/release/angular-ui-router.min.js')
		script(src='/scripts/vendor/angular-elastic/elastic.js')
		script(src='/scripts/vendor/lodash/dist/lodash.min.js')
		script(src='/scripts/vendor/slick-carousel/slick/slick.js')
		script(src='/scripts/vendor/angular-slick/dist/slick.js')
		script(src='/scripts/vendor/angularytics/dist/angularytics.min.js')
		script(src='/scripts/vendor/angular-material/angular-material.js')
		script(src='/scripts/vendor/ngMeta/dist/ngMeta.js')

		script(src='/scripts/app/module.js')
		script(src='/scripts/app/routes.js')
		script(src='/scripts/app/config.js')
		script(src='/scripts/app/run.js')

		script(src='/scripts/common/module.js')
		script(src='/scripts/common/escape.directive.js')
		script(src='/scripts/common/category.filter.js')

		script(src='/scripts/document/controller.js')
		script(src='/scripts/navigation/controller.js')
		script(src='/scripts/footer/controller.js')

		script(src='/scripts/index/module.js')
		script(src='/scripts/index/route.js')
		script(src='/scripts/index/controller.js')

		script(src='/scripts/project/module.js')
		script(src='/scripts/project/route.js')
		script(src='/scripts/project/service.js')
		script(src='/scripts/project/list.controller.js')
		script(src='/scripts/project/view.controller.js')

		script(src='/scripts/services/module.js')
		script(src='/scripts/services/route.js')
		script(src='/scripts/services/controller.js')

		script(src='/scripts/media/module.js')
		script(src='/scripts/media/route.js')
		script(src='/scripts/media/controller.js')

		script(src='/scripts/contact/module.js')
		script(src='/scripts/contact/route.js')
		script(src='/scripts/contact/service.js')
		script(src='/scripts/contact/controller.js')

		script(src='/scripts/error/module.js')
		script(src='/scripts/error/routes.js')
		script.
			(function(i,s,o,g,r,a,m) {i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-34471419-1', 'auto');
			ga('send', 'pageview');
		script.
			(function(d) {
				var config = {
					kitId: 'ozx4icu',
					scriptTimeout: 3000
				},
				h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
			})(document);
		script.
			$(document).ready(function(){
				$.getScript('//'+location.hostname+':35729/livereload.js');
			});
//- 		title Sander Design - Landscape Architecture
//- 		meta(charset="utf-8")
//- 		meta(name="author", content="Sander Design - Landscape Architecture")
//- 		meta(name="description", content="Sander Freedman is interested in sustainable design and environmental issues, and has over 21 years experience in environmental related work and design.")
